{% extends 'base.html.twig' %}

{% block title %}Chỉnh Sửa Bài Viết Mới{% endblock %}

{% block bread %}
-> <a href="{{path('app_micro_post_show',{post:post.id})}}">Bài Viết</a> -> Chỉnh Sửa
{% endblock %}

{% block body %}
    {{include ('micro_post/_form.html.twig')}}
{% endblock %}