<div class="bg-white shadow-2xl rounded p-2 bg-opacity-75 dark:bg-gray-700 dark:bg-opacity-75 flex border-b border-gray-300 dark:border-gray-600 w-full mb-8 mt-8 max-sm:text-sm max-sm:font-medium">
    {% block tabs %}
        
    {% endblock %}
</div>